/* CSS Document */


/* General Style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}


/* Header Styling */

.nav-bar,
.main,
footer {
    width: 80%;
    max-width: 80%;
    margin: 0 auto;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 23px auto;
}

.list-items {
    display: flex;
    align-items: center;
}

.nav-bar li {
    list-style-type: none;
}

.list-items a {
    font-size: 16px;
    padding-left: 50px;
    text-decoration: none;
    color: #313133;
}

.header {
    display: flex;
    height: 45px;
    background-color: #002032;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    line-height: 22px;
    letter-spacing: 0;
}

.header a {
    color: #FFFFFF;
}


/* Background Image */

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/img/banner-01.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 341px;
}

.image-text {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: bold;
    color: #313133;
    text-align: center;
}


/* Main Style */

.text {
    margin-top: 100px;
    flex: 0 1 54%;
}

.sub-text-one {
    display: grid;
    margin: 40px 0;
    font-weight: bold;
    line-height: 26px;
    font-size: 16px;
}

.sub-text-one a {
    color: #313133;
    text-decoration: none;
}

.sub-text {
    color: #313133;
    line-height: 26px;
    font-size: 16px;
}


/* Location Style */

.heading {
    margin-top: 100px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.location p {
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.button {
    display: flex;
    margin-bottom: 40px;
}

.postcode,
.direction {
    height: 40px;
    width: 151px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
}

.postcode {
    padding: 9px 15px 9px 16px;
}

.direction {
    background-color: #002032;
    color: #FFFFFF;
    margin-left: 30px;
    font-size: 16px;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}


/* Map styling */

.gmap_canvas iframe {
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
}

.mapouter {
    width: 100%;
    height: 384px;
}


/* Enquiry Form Styling */

.main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.enquiry {
    margin-top: -45px;
    flex: 0 1 30%;
    z-index: 9;
    width: auto;
}

.name,
.phone,
.email,
.message,
.send-enquiry {
    height: 56px;
    padding: 0px 121px 0px 20px;
    margin-top: 10px;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    font-size: 16px;
}

.email {
    font-weight: bold;
}

.email,
.message {
    padding: 0px 100px 0px 20px;
    font-weight: bold;
    color: #313133;
}

.message {
    height: 145px;
}

.send-enquiry {
    background-color: #002032;
    color: #FFFFFF;
    font-size: 16px;
    padding: 0px 113px;
    font-weight: bold;
    margin-bottom: 12px;
    cursor: pointer;
}

.enquiry-details {
    background-color: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 grey;
}

.enquiry-details li {
    list-style-type: none;
    margin: 8px 20px;
}

.enquiry-details li p {
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: 12px;
}

.call {
    background-color: #FFFFFF;
    border: 1px solid #8C8C8C;
    border-radius: 4px;
    box-shadow: 0 0 15px 0 grey;
    color: #313133;
    margin: 30px 0px;
    height: 130px;
    padding: 30px;
}

.call h3 {
    font-size: 24px;
    text-transform: uppercase;
}

.call a {
    color: #313133;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}


/* Footer Styling */

.footer-bg {
    background-color: #002032;
}

footer {
    height: auto;
    color: #FFFFFF;
    letter-spacing: 0;
}

.f-container {
    margin: 0 129px;
}


/* Vertical Line */

.v-line {
    border-bottom: 1px solid white;
    padding-top: 50px;
    margin-bottom: 34.5px;
}

.f-title {
    width: 50%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.subtitle,
.telephone {
    font-size: 16px;
    padding-right: 20px;
    font-weight: bold;
}

.telephone a {
    color: white;
    text-decoration: none;
}

.description {
    font-size: 14px;
    color: #A9A9A9;
    margin: 10px 0 20px 0;
    padding-right: 20px;
}

.row-one {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.row-two {
    display: flex;
    margin-bottom: 64px;
}

.row-three {
    padding-bottom: 50px;
}

.col-one {
    padding-right: 20px;
}

.copyright,
.links {
    display: flex;
    font-size: 12px;
    color: #A9A9A9;
}

.vertical-line {
    border-left: 1px solid #A9A9A9;
    margin: 3px 3px;
    height: 10px;
}

.links a {
    color: #A9A9A9;
    text-decoration: none;
}

.toggle {
    color: black;
    text-align: right;
    font-size: 20px;
    padding-top: 29px;
    display: none;
}

@media only screen and (min-width: 1440px) {
    .text {
        flex: 0 1 60%;
    }
    .enquiry {
        flex: 0 1 20%;
    }
    .header,
    .image,
    .footer-bg {
        max-width: 1440px;
        margin: 0 auto;
    }
    .nav-bar,
    .main,
    footer {
        max-width: 1180px;
        margin: 0 auto;
    }
    .nav-bar {
        margin: 23px auto;
    }
}

@media only screen and (max-width: 768px) {
    .toggle {
        display: block;
    }
    .list-items {
        display: none;
        margin-top: 20px;
    }
    .list-items li {
        margin: 2px;
        padding: 10px;
        background-color: #d7d7f9;
    }
    .list-items a {
        padding: 0px;
    }
    /*.list-items a i {
        display: none;
    }*/
    .active {
        display: block;
        position: absolute;
        margin-top: 70px;
        width: 80%;
        background-color: white;
    }
    .search {
        display: none;
    }
    .main {
        display: block;
    }
    .enquiry {
        display: inline-block;
    }
    .gmap_canvas,
    .mapouter {
        width: auto;
    }
}

@media only screen and (max-width: 425px) {
    .image-text {
        font-size: 35px;
    }
    .header {
        font-size: 14px;
    }
    .name,
    .phone {
        padding: 0px 100px 0px 20px;
        ;
    }
    .email,
    .message {
        padding: 0px 80px 0px 20px;
    }
    .text,
    .heading {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 375px) {
    .button {
        display: grid;
    }
    .direction {
        margin: 0;
        margin-top: 10px;
    }
    .header {
        font-size: 12px;
    }
    .name,
    .phone {
        padding: 0px 60px 0px 18px;
        ;
    }
    .email,
    .message {
        padding: 0px 35px 0px 20px;
    }
    .send-enquiry {
        padding: 0px 93px;
    }
}

@media only screen and (max-width: 320px) {
    .row-three {
        margin-top: 25px;
    }
    .name,
    .phone {
        padding: 0px 25px 0px 10px;
    }
    .email,
    .message {
        padding: 0px 0px 0px 15px;
    }
    .send-enquiry {
        padding: 0px 75px;
    }
    .links {
        display: -webkit-inline-box;
    }
}